.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav a {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet
}

.nav a:hover {
    background-color: indigo;
    color: cornsilk;
}